{% extends 'layouts/base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block main %}
    <h1>Utilisateur : {{ participant.pseudo }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NoParticipant</th>
                <td>{{ participant.noParticipant }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.pseudo }}</td>
            </tr>
                          <tr>
                <th>Roles</th>
                <td>{% for role in participant.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur,
                        {% elseif role == "ROLE_SUPER_ADMIN" %}
                            Super-Administrateur,
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur,
                        {% endif %}
                    {% endfor %}</td>
            </tr>
            {# <tr>
                <th>Roles</th>
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
            </tr>
              <tr>
                <th>Ville de rattachement</th>
                <td>{{ participant.sitesNoSite.nomSite}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
    {{ include('participants/admin/_admindelete_form.html.twig') }}
    <span class="col"></span>
    <a class="col waves-effect waves-light green lighten-1 btn" href="{{ path('app_participants_admin_edit', {'noParticipant': participant.noParticipant}) }}">Editer</a>
    <span class="col"></span>
    <a class="col waves-effect waves-light green lighten-1 btn"  href="{{ path('app_participants_admin_index') }}">Retour</a>
    </div>
{% endblock %}
