<header>
  <nav class="green lighten-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Sortir.com</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% for ele in menu %}
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_participants_index') }}">Utilisateurs</a></li>
        <li><a href="{{ path('app_villes_index') }}">Villes</a></li>
        <li><a href="{{ path('app_sites_index') }}">Sites</a></li>
        {% endif %}
        <li><a href="{{ path('app_' ~ ele|lower) }}">{{ele}}</a></li>
        {% if not app.user %}
        <li><a href="{{ path('app_register') }}">Inscription</a></li>
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% else %}
        <li><a href="{{ path('app_participants_edit', {'noParticipant': app.user.noParticipant}) }}">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% for ele in menu %}
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_participants_index') }}">Utilisateurs</a></li>
        <li><a href="{{ path('app_villes_index') }}">Villes</a></li>
        <li><a href="{{ path('app_sites_index') }}">Sites</a></li>
        {% endif %}
        <li><a href="{{ path('app_' ~ ele|lower) }}">{{ele}}</a></li>
        {% if not app.user %}
        <li><a href="{{ path('app_register') }}">Inscription</a></li>
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% else %}
        <li><a href="{{ path('app_participants_edit', {'noParticipant': app.user.noParticipant}) }}">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
        {% endfor %}
  </ul>
</header>