{% extends 'layouts/base.html.twig' %}

{% block title %}Villes index{% endblock %}

{% block main %}
    <h1>Villes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NoVille</th>
                <th>NomVille</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.noVille }}</td>
                <td>{{ ville.nomVille }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="{{ path('app_villes_show', {'noVille': ville.noVille}) }}"><i class="material-icons">remove_red_eye</i></a>
                <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="{{ path('app_villes_edit', {'noVille': ville.noVille}) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="waves-effect waves-light green lighten-1 btn"  href="{{ path('app_villes_new') }}"><i class="material-icons right">add_circle</i>Créer</a>
{% endblock %}
