{% extends "layouts/base.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block main %}
<div class="col row right-align">
    <p>Date du jour : {{"now"|date("d/m/Y")}}</p>
    {% if app.user %}
        <p>Participant : {{ app.user.userIdentifier }}</p>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}

    <div class="container row col s4 left-align">
        <h5>Filtrer les sorties</h5>
        <div class="input-field">
            <select>
                {# {% for site in sites %}
                <option value="">{{ site }}</option>
                {% endfor %} #}
            </select>
            <label>Site : </label>
        </div>
        <label>Nom de la sortie contient : </label>
        <input type="text">
        <label>Entre </label>
        <input type="date">
        <label>et : </label>
        <input type="date">
    </div>
    <div class="container row col s4 left-align">
        <p>
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Sorties dont je suis l'organisateur/trice</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Sorties auxquelles je suis incrit/e</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Sorties auxquelles je ne suis pas inscrit/e</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Sorties passées</span>
            </label>
        </p>
    </div>
    <div class="container row col s4 left-align">
        <button class="waves-effect waves-light green lighten-1 btn">Rechercher</button>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / Places</th>
                <th>État</th>
                <th>Inscrit?</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.datedebut|date("d/m/Y") }}</td>
                <td>{{ sortie.datecloture|date("d/m/Y") }}</td>
                {# <td>{{ sortie.participantsNoParticipant }} / {{ sortie.nbinscriptionsmax }}</td>
                <td>{{ sortie.etatsNoEtat.libelle }}</td> #}
                <td>{{ sortie.organisateur }}</td>
                <td>jvbeib</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Pas de sorties</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if app.user %}
<div class="container row">
    <a class="waves-effect waves-light green lighten-1 btn left-align" href="{{ path('app_sorties_new') }}">Créer une sortie</a>
</div>
{% endif %}
{% endblock %}