{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Sorties</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NoSortie</th>
                <td>{{ sorty.noSortie }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sorty.nom }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ sorty.datedebut ? sorty.datedebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sorty.duree }}</td>
            </tr>
            <tr>
                <th>Datecloture</th>
                <td>{{ sorty.datecloture ? sorty.datecloture|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbinscriptionsmax</th>
                <td>{{ sorty.nbinscriptionsmax }}</td>
            </tr>
            <tr>
                <th>Descriptioninfos</th>
                <td>{{ sorty.descriptioninfos }}</td>
            </tr>
            <tr>
                <th>Etatsortie</th>
                <td>{{ sorty.etatsortie }}</td>
            </tr>
            <tr>
                <th>Urlphoto</th>
                <td>{{ sorty.urlphoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sorties_index') }}">back to list</a>

    <a href="{{ path('app_sorties_edit', {'noSortie': sorty.noSortie}) }}">edit</a>

    {{ include('sorties/_delete_form.html.twig') }}
{% endblock %}
