{% extends 'layouts/base.html.twig' %}

{% block title %}Etats index{% endblock %}

{% block main %}
    <h1>Etats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NoEtat</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.noEtat }}</td>
                <td>{{ etat.libelle }}</td>
                <td>
                    <a href="{{ path('app_etats_show', {'noEtat': etat.noEtat}) }}">show</a>
                    <a href="{{ path('app_etats_edit', {'noEtat': etat.noEtat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etats_new') }}">Create new</a>
{% endblock %}
