{% extends 'layouts/base.html.twig' %}

{% block title %}Lieux index{% endblock %}

{% block main %}
    <h1>Lieux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NoLieu</th>
                <th>NomLieu</th>
                <th>Rue</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieux in lieuxes %}
            <tr>
                <td>{{ lieux.noLieu }}</td>
                <td>{{ lieux.nomLieu }}</td>
                <td>{{ lieux.rue }}</td>
                <td>{{ lieux.latitude }}</td>
                <td>{{ lieux.longitude }}</td>
                <td>
                <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="{{ path('app_lieux_show', {'noLieu': lieux.noLieu}) }}"><i class="material-icons">remove_red_eye</i></a>
                <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="{{ path('app_lieux_edit', {'noLieu': lieux.noLieu}) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
    <a class="waves-effect waves-light green lighten-1 btn" href="{{ path('app_lieux_new') }}"><i class="material-icons right">add_circle</i>Créer</a>
    </div>
{% endblock %}
